.home {
    text-align: center;
  }
  
  .home-logo {
    height: 40vmin;
    pointer-events: none;
    border-radius: 15px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .home-logo {
      animation: home-logo-spin infinite 20s linear;
    }
  }
  
  .home-header {
  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .home-header{
    color:#6565c2
  }
  .home-link {
    color: #3998b3;
    width:50%;
  }
  
  
    
  