.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    cursor:pointer;
  }
  
  .tab-list-item {
    position:relative;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 2.5rem;
    background-color: #454542;
    color:white;
    opacity:0.5;
    text-transform: uppercase !important;
    top:-1px;
  
  }
  .tab-list-item .rectangle{
   
    width: 20px;
    height: 0px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #2D2D2D;
    position: absolute;
    top: -1px;
    left: 0px;
}
  

  .tab-list-active {
      position:relative;
    background-color: #545454;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
    color:#f0e9e9f5;
    opacity:1;
   top:0px;
    
  }

  .tab-list-active .rectangle{
    width: 20px !important;
    height: 20px !important;
    /* border-bottom: 20px solid transparent;
    border-left: 20px solid #545454;
    position:absolute;
    top:-1px;
    left:-1px; */
    /* background-image: url('../assets/tab_line.png'); */
    
  }

  .tab-list-item .tabline{
   
    width: 0px !important;
    height: 0px !important;
  }
  .tab-list-active  .tabline{
    width: 20px !important;
    height: 20px !important;
  
    position:absolute;
    top:-1px;
    left:-1px; 
    /* background-image: url('../assets/tab_line.png'); */
    
  }
  .modal-content {
  
    background-color: #2D2D2D !important;
   
}
.input-text-box{
  background-color: transparent !important;
  border-radius: 5px !important;
  color: #fff !important;
  border-color: #fff !important;
  border-width: 1px !important;
}
.custom-select{
  background-color: transparent !important;
  border-radius: 5px !important;
  color: #fff !important;
  border-color: #fff !important;
  border-width: 1px !important;
  
}
.custom-select-option {
  background-color: #2d2d2d  !important;
  color: #fff !important;

}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
     border-bottom: none !important;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    color:white;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
    min-width: max-content;
}
.modal-footer{
  border-top:0px !important;
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 500px;
    margin: 5.75rem auto !important;
}
}

.btn .btn-primary{
    background: transparent;
    outline: none;
    border: none;
    color: black;
    padding: 0;
}
.modal-body{
  height:auto !important;
}
.tab-content{
  height:auto;
}
.closebutton{
  color:white;
  width:2rem;
  height:2rem;
  cursor:pointer;
  filter: invert(100%) sepia(0%) saturate(1071%) hue-rotate(186deg) brightness(115%) contrast(100%);
}
.buttonLink{
  margin:0;
}
.hide_btns{
  display: none;
}