.trans-label-wrapper {
  cursor: pointer;
  font-size: 1.2vw;
}
.trans-label-average-box {
}
.trans-label-expandable {
  height: auto;
}
.pin-icon-wrapper img {
  width: 2rem;
  position: absolute;
  right: -10px;
  top: -10px;
}
.hightlighted {
  background-color: grey;
}
